body{
	margin:0px;
	font-family:'Karmina-Regular';
	font-size:15px;	
}
@font-face {
  font-family: 'Karmina-Regular';
  src: url('../fonts/Karmina-Regular.eot');
  src: url('../fonts/Karmina-Regular.woff') format('woff'),
       url('../fonts/Karmina-Regular.ttf') format('truetype'),
       url('../fonts/Karmina-Regular.svg#Karmina-Regular') format('svg'),
       url('../fonts/Karmina-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*Menu fonts*/
@font-face {
  font-family: 'SansaStd-Bold';
  src: url('../fonts/SansaStd-Bold.eot');
  src: url('../fonts/SansaStd-Bold.woff') format('woff'),
       url('../fonts/SansaStd-Bold.ttf') format('truetype'),
       url('../fonts/SansaStd-Bold.svg#SansaStd-Bold') format('svg'),
       url('../fonts/SansaStd-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'MarketOT-CondMedium';
  src: url('../fonts/MarketOT-CondMedium.eot');
  src: url('../fonts/MarketOT-CondMedium.woff') format('woff'),
       url('../fonts/MarketOT-CondMedium.ttf') format('truetype'),
       url('../fonts/MarketOT-CondMedium.svg#MarketOT-CondMedium') format('svg'),
       url('../fonts/MarketOT-CondMedium.eot?#iefix') format('embedded-opentype');
   
}


@font-face {
  font-family: 'Karmina-Italic';
  src: url('../fonts/Karmina-Italic.eot');
  src: url('../fonts/Karmina-Italic.woff') format('woff'),
       url('../fonts/Karmina-Italic.ttf') format('truetype'),
       url('../fonts/Karmina-Italic.svg#Karmina-Italic') format('svg'),
       url('../fonts/Karmina-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansaStd-SemiBold';
  src: url('../fonts/SansaStd-SemiBold.eot');
  src: url('../fonts/SansaStd-SemiBold.woff') format('woff'),
       url('../fonts/SansaStd-SemiBold.ttf') format('truetype'),
       url('../fonts/SansaStd-SemiBold.svg#SansaStd-SemiBold') format('svg'),
       url('../fonts/SansaStd-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SansaStd-Normal';
  src: url('../fonts/SansaStd-Normal.eot');
  src: url('../fonts/SansaStd-Normal.woff') format('woff'),
       url('../fonts/SansaStd-Normal.ttf') format('truetype'),
       url('../fonts/SansaStd-Normal.svg#SansaStd-Normal') format('svg'),
       url('../fonts/SansaStd-Normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarketOT-Bold';
  src: url('../fonts/MarketOT-Bold.eot');
  src: url('../fonts/MarketOT-Bold.woff') format('woff'),
       url('../fonts/MarketOT-Bold.ttf') format('truetype'),
       url('../fonts/MarketOT-Bold.svg#MarketOT-Bold') format('svg'),
       url('../fonts/MarketOT-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} 
 @font-face {
  font-family: 'fontawesome-webfont';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
}

@font-face {
  font-family: 'Karmina-Bold';
  src: url('../fonts/Karmina-Bold.eot');
  src: url('../fonts/Karmina-Bold.woff') format('woff'),
       url('../fonts/Karmina-Bold.ttf') format('truetype'),
       url('../fonts/Karmina-Bold.svg#Karmina-Bold') format('svg'),
       url('../fonts/Karmina-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} 

ul.nav.navbar-nav{
	font-family: 'SansaStd-Bold' !important;
	font-size: 9.02px;
}
 
.nav .service{
	font-family : 'AvenirNextLTPro Bold';
	font-size: 10pt
}
h2{
	font-family: 'SansaStd-Bold';
	font-size:50pt;
}
h3, .ourProduct_categories h3 {
    font-size: 30pt;
	font-family: 'SansaStd-Bold';
}
.product lable{
	text-transform: uppercase;
}
.common-News p{
	font-family: 'Karmina-Regular';
}
 
.puratos-header-menu-wrapper{
	float:left
}

header {
    position: fixed;
    z-index: 2;
    background: #fff;
    top: 0;
}

.main-container {
    margin-top: 108px;
    position: relative;
}

select#edit-product-sub-category {
    border: none;font-size: 18px;
    color: #292929;
}
ul.tb-megamenu-nav.nav.level-0.items-5 li a:last-child {
    font-size: 10px;
    color: #292929 !important;
}
.common-Border hr {
    border-top: 1px solid #ccc;
    margin: 0 auto;
    width: 80%;
}
.country hr {
    margin: 0;
    width: 51%;
    margin: 0 auto;
    border: 1px solid yellow;
}
.tb-megamenu .dropdown-menu span a{
    display: block;
	padding:0;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #F00;
    white-space: nowrap;
    font-size: 10px;
    margin-top: 10px;
	font-family: 'SansaStd-SemiBold';
	text-transform:uppercase;
}
.views-field.views-field-published-at span {
    font-family: 'SansaStd-Normal' !important;
    color: #8D8D8D;
    text-transform: uppercase;
    font-size: 10px;
}
ul.tb-megamenu-nav.nav.level-0.items-5 li a:last-child {
    border-right: none;
}
ul.tb-megamenu-nav.nav.level-0.items-5 li a:last-child:hover {
    color: #a5a5a5 !important;
}
li.tb-megamenu-item.level-2.mega {
    text-transform: uppercase;
}
.views-field.views-field-title span{
	 font-size: 30px;
}
.top-bar select, .follow-us li, div#tb-megamenu-column-2, .tb-megamenu .dropdown-menu a{
	font-family: 'SansaStd-SemiBold';
}
.views-row.views-row-1.views-row-odd.views-row-first.views-row-last span:first-child {
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.related_Articles h3{
	font-family: 'SansaStd-Bold';
	color: #292929;
}

.product lable, .product_Bakery_Content p, select#edit-product-sub-category, select#edit-countries, .ourProject_Content p{ 
	font-family: 'Karmina-Italic';
	
}
.common-News .views-field-published-at span {
    font-family: 'SansaStd-Normal';
    color: #8D8D8D;
    text-transform: uppercase;
    font-size: 10px;
}
 .pagination > li > a, .pagination > li > span {
   text-decoration: none;
    background-color: none;
    border: none;
	color:#6b6b6a;
}
ul.pagination {
    background-color: red;
}
ul.pagination {
    background-color: #fff;
    padding: 6px 0 6px 0;
	font-family: 'SansaStd-SemiBold';
    font-size: 9px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #C8D5CC;
    cursor: default;
	background-color: transparent;
    border-color: #fff;
}
ul.menu.nav li a {
    color: rgba(101, 100, 100, 0.89);
}
.pagination > li > a, .pagination > li > span {
    background-color: transparent;
    text-transform: uppercase;
	font-family: 'SansaStd-SemiBold';
}
.top-nav li {
    display: inline;
    padding: 0px 10px;
}
.tb-megamenu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
    font-weight: normal; 
    font-size: 10px;
    font-family: 'SansaStd-Bold';
	color:#292929;
}
.product .search{
	font-family: 'Karmina-Italic';
	font-size: 16pt;
}
.navbar-default form#search-form input#edit-keys {
    border-radius: 0;
    border-bottom: 1px solid #e6e6e6;
	border-right: none;
	font-size: 15px;
}
.navbar-default form#search-form button {
    border-radius: 0;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-left: none;
    color: #ccc;
    border-right: none;
}
.navbar-default form#search-form .form-group{
	margin:0;
}
.navbar-default form#search-form button.btn.btn-primary {
    padding: 6px 5px;
}
.navbar-default form#search-form button:after{
	content: "";
}
.navbar-default form#search-form {
    width: 33%;
    float: left;
}
form#header-country-form {
    float: left;
    width: 18%;
}
.container-fluid{
	padding:0;
}
/*header start*/
.mega .puratos-header-menu-services-wrapper .tb-megamenu .dropdown-menu, .mega .puratos-header-menu-services-wrapper .tb-megamenu .dropdown-menu.mega-dropdown-inner{
	width:500px;
}
.mega .puratos-header-menu-services-wrapper .tb-megamenu .dropdown-menu{
	width:250px;
}
div#tb-megamenu-column-3 {
    border-left: 1px solid #ccc
}
ul.menu.nav li {	
    display: inline-block;
}
.region.region-header-top {
    width: 30%;
    float: left;
    border-bottom: 1px solid #E2E2E2;
    padding: 0.5px;
}
.navbar-brand {
    height: 106px;
	padding: 10px 40px;
}
section#block-menu-menu-puratos-header-top-menu ul li {
    font-size: 9.2px;
    font-family: 'SansaStd-SemiBold';
    text-transform: uppercase;
    color: #7D7C7C;
    padding-left: 10px;
}
/* section#block-menu-menu-puratos-header-top-menu a {
    color: #7D7C7C;
} */
.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    border-right: 1px solid #e6e6e6;
    width: 19%;
    float: left;
}
i.glyphicon.glyphicon-menu-down {
    margin-left: 6px;
}
.view-services-header-menu .view-id-services_header_menu img{
	    width: 100%;
}
.navbar-default .top-bar .navbar-nav > li > a {
    font-size: 9px;
	color: #6b6b6a;
	padding: 10px 21px;
}

.navbar-collapse .navbar-nav li a {
	font-size: 10px;
}

.navbar-collapse .navbar-nav li a.left-nav {
    padding: 22px 64px;
    color: #292929;
    border-right: 1px solid #e6e6e6;
}

.navbar-collapse .navbar-nav li a.right-nav {
    padding: 22px 29px;
    color: #292929;
    border-right: 1px solid #e6e6e6;
}
.puratos-header-menu-wrapper .tb-megamenu-menu-puratos-header-menu ul.tb-megamenu-nav, .puratos-footer-menu-wrapper .tb-megamenu-menu-puratos-header-menu ul.tb-megamenu-nav {
    background-color: #fff !important;
}
/* .navbar-collapse .navbar-nav li a.right-nav.last {
    border-right: none;
} */

.navbar-collapse .navbar-nav li a.right-nav:hover, .navbar-collapse .navbar-nav li a.left-nav:hover{
	color: #a5a5a5;
	border-bottom: 2px solid #d39f00;
}

.top-bar .navbar-nav {
    padding-left: 40px;
    border: 1px solid #e6e6e6;
	margin-left: -1px;
}
.tb-megamenu-item .nav li.dropdown.open > .dropdown-toggle:hover, .tb-megamenu-item .nav li.dropdown.open > .dropdown-toggle:active, .tb-megamenu-item .nav li.dropdown.open > .dropdown-toggle:focus{
	color: #ccc !important;
}		
.tb-megamenu .mega-nav > li a:hover, .tb-megamenu .dropdown-menu .mega-nav > li a:hover {
    color: #ccc;
    border:none;
    background-color: #fff !important;
}
.puratos-header-menu-wrapper .tb-megamenu .dropdown-menu, .puratos-footer-menu-wrapper .tb-megamenu .dropdown-menu{
	border-bottom: none  !important;
}
li.tb-megamenu-item.level-1.mega.puratos-header-menu-services-wrapper.dropdown .mega-dropdown-inner {
    width: 400px !important;
	
}
.puratos-header-menu-wrapper img.img-responsive {
    width: 100%;
	margin: -10px 0px 15px -11px;
}
li.tb-megamenu-item.level-1.mega.puratos-header-menu-commitments-wrapper.dropdown.active.active-trail.open.mega-dropdown-inner{
	width: 400px !important;
}
.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover{
	background-color: #fff !important;
	background-image:none;
	color: #292929;
}
.puratos-footer-menu-wrapper .tb-megamenu .nav > li > a, .puratos-footer-menu-wrapper .tb-megamenu .nav > li > a:hover, .footer, .puratos-footer-menu-wrapper .tb-megamenu .dropdown-menu {
    border:none;
}
ul.tb-megamenu-subnav.mega-nav.level-1.items-1 {
    width: 400px;
}
.tb-megamenu .dropdown-menu li > a{
	border:none;
}
.puratos-footer-menu-wrapper .tb-megamenu .nav > li > a{
	padding: 8px 70px;
}
.tb-megamenu .nav > li > a {
    border-right: 1px solid #E2E2E2;
    border-top: 0;
    color: #292929;
    font-weight: bold;
    padding: 30px 36.4px;
    text-shadow: none;
    font-family: 'SansaStd-Bold';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:active, .tb-megamenu .nav > li > a:focus{
	border-right: 1px solid #E2E2E2; 
	color:#a5a5a5 !important;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle{
	background-color:#fff;
	color:#292929 !important;
}
.puratos-header-menu-wrapper .tb-megamenu-menu-puratos-header-menu, .tb-megamenu .nav li.dropdown.active {
	box-shadow: inset 0 -5px 0 0 #d39f00;
}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
    background-color: #fff !important;
}
.puratos-header-menu-wrapper .tb-megamenu-menu-puratos-header-menu, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: #fff;
    border-color: #E2E2E2;
    color: #292929;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #666;
    border-bottom-color: #666;
    margin-top: 5px;
    display: none;
}	
.top-bar {
    width: 100%;
}
.top-bar input {
    border: 1px solid #e6e6e6;
    padding: 7.2px;
    padding-left: 8px;
   /*  width: 35%; */
    font-size: 12px;
    color: #6b6b6a;
    background: #f9f9f9;
    font-family: 'Karmina-Italic';
}
.top-bar select {
    padding: 10px 30px;
    font-size: 9.2px;
    color: #fff;
    background: #d39f00;
    border: none;
   /*  width: 17.1%; */
    letter-spacing: 2px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
/*header start*/
.headerImage{
	/* background-image: url("../images/header-image1.png"); */
    height: 600px;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 108px;
}
.header-image-bottom {
    background-image: url("../images/header-image-bottom.png");
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 618px;
}
.product-finder-BG {
    background-image: url("../images/product-finder-image.jpg");
    height: 680px;
    background-size: cover;
    position: relative;
	margin-top: 720px;
}
#block-puratos-product-puratos-product .product-finder-BG {
    background-image: url("../images/product-finder-image.jpg");
    height: 680px;
    background-size: cover;
    position: relative;
	margin-top: 0px;
}
.news_homepage_BG_image{
	background-image: url("../images/newBG-image.jpg");
    height: 700px;
    background-size: cover;
    position: relative;
}
.country_Heighlights_BG_image{
	background-image: url("../images/bg2.jpg");
    background-size: cover; 	
	height:510px;
  position: relative;
}
.video_BG_image{
	background-image: url("../images/Videos-Bg-image.jpg");
    height: 572px;
    background-size: cover; 
    position: relative;
}
.home-banner-Scroll{
	background-image: url("../images/Scroll.png");
    height: 82px;
	background-repeat: no-repeat; 
	margin-left: 10%;
    margin-top: 80px;
    background-size: 80px;
}
.ourproduct_BG_categories{
	background-image: url("../images/ourProductBG.jpg");
    height: 520px;
    background-size: cover; 

}
.product_Bakery_Image{
	background-image: url("../images/puratos-bakery-header-image.jpg");
    height: 240px;
    background-size: cover; 
}
.ourProductImage{
	background-image: url("../images/ourProductImage_bgimage.jpg");
    height: 247px;
    background-size: cover; 
}
/* .bakery_Product_Features_Image{
	background-image: url("../images/Bakery-Product-Features.jpg");
    height: 481px;
	background-repeat: no-repeat; 
	background-size: 48%;
} */
.custommer_Consumer_advantage_Image{
	background-image: url("../images/puratos-bakery-image2.jpg");
    height: 328px;
	background-repeat: no-repeat;
	background-size: cover; 
}
.deli_Product_Range_Image{
	background-image: url("../images/Bakery-Artical-Image.jpg");
    height: 470px;
	background-repeat: no-repeat;
	background-size: cover; 
}
.bakery_selectCountry{
	background-image: url("../images/bakery-SelectCountry.jpg");
    height: 255px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-intro-bottom{
	background-image: url("../images/header-image-bottom.png");
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -85px;
}
#block-views-finished-application-block {
    background-image: url("../images/products-applications-2nd_Level.jpg");
    height: 910px;
    background-repeat: no-repeat;
    background-size: cover;
} 
.videosbanner img {
    width: 100%;
}
.header-Content {
    margin-top: 10%;
}
span{
	font-family: 'SansaStd-Normal';
}
.image-Title p {
    padding: 0;
    margin: 0px;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
	font-family: 'SansaStd-Bold';
}
.image-Content {
    margin: 15px;
    font-size: 12pt;
    color: #fff;
}
.purato-Products {
    margin-top: 5px;
}
.purato-Products h3 {
    margin: 0px;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'SansaStd-Bold';
    margin-left: 10px;
    color: #292929;
}
.news_homepage h3, .videos_home h3 {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'SansaStd-Bold';
    font-size: 50px;
	color: #292929;
}
.news_homepage h3{
	margin-left: 12px;
}
.product_Bakery_Content{
	margin-top:45px;
}
.product_Bakery_Image .product_Bakery_Content h3{
	font-family: 'SansaStd-Bold';
	margin:0;
	font-size: 60px;
	}
/* .product_Bakery_Image .product_Bakery_Content p{
	color: #fff;
} */
.product_Bakery_Content p {
    font-size: 24px;
	color: #292929;
}
.page-node-21 .product_Bakery_Content h3, .page-node-21 .product_Bakery_Content p {
    color: #292929;
}
.news_homepage label {
    font-size: 9.2px;
    letter-spacing: 3px;
    margin-left: 6px;
    color: #6b6b6a;
}
.purato-Products label {
    font-size: 9px;
    color: #6b6b6a;
    letter-spacing: 3px;
}
.purato-Products p {
    color: #6b6b6a;
    margin-left: 10px;
	font-size: 16px;
}
.product-image img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-image p {
    text-align: center;
	margin-top: 16px;
}
.product-image h4{
	text-align:center;
	font-size: 20pt;
	font-family: 'SansaStd-Bold';
	color: #292929;
}
select#sel1 {
    font-family: 'Karmina-Italic';
}
button.btn-warning {
    font-size: 9.2px;
}
.search-button-product {
    text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
label{
	font-family: 'SansaStd-Bold';
}
.search-button-product button {
    border-radius: 50px;
    width: 37%;
    padding: 12px 0px 12px 0px;
    border: none;
    background-color: #d39f00 !important;
    letter-spacing: 2px;
    margin-top: 15px;
   font-family: 'SansaStd-Bold';
}
.form-item.form-item-captcha-response.form-type-textfield.form-group {
    width: 30%;
    margin-left: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 10px;
}
.product-image.product-application p {
    margin: 11.9px;
}
span.glyphicon.glyphicon-arrow-right {
    margin-left: 20px;
}
.product-Image img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
	border-bottom:none;
} 
.common-Border {
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 300px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
	height: 300px;
	overflow:hidden;
}
.form-item.form-item-product-fin-appl.form-type-select.form-group {
    width: 80%;
    margin: 0 auto;
    border: 0;
    outline: 0;
}
.news_homepage {
    margin-top: 55px;
}
.product-image {
    margin-top: 35px;
}
.news-images img {
    width: 100%;
 } 
.news_homepage .product-image{
 text-align:left;
 }
.common-News {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    min-height: 210px;
    height: 210px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
}
.news-section-home-page-wrapper .views-field.views-field-field-news-blog-image {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.common-News h4 {
    font-size: 24px;
    margin: 15px 0px 15px 0px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.common-News p {
    text-align: justify;
    color: rgba(101, 100, 100, 0.89);
}
span.glyphicon.glyphicon-minus {
    color: red;
    width: 15px;
}
.common-News label{
	color:red;    
	font-size: 9.2px;
	margin-top: 30px;
	font-family: 'SansaStd-Bold';
}
.common-News span.field-content a, .common-News.cakeBrochettes a {
    color: red;
	font-family: 'SansaStd-Bold';
}
.common-News.red-Velvet span.field-content a, .common-News.cakeBrochettes a {
    color: #de052d;
    margin-top: 30px;
    font-size: 9px;
    font-family: 'SansaStd-SemiBold';
    letter-spacing: 2px;
}
.footer {
    padding-top: 0;
}
select#edit-countries {
    width: 50%;
    margin: 0 auto;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    margin-top: 40px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.country hr {
    margin: 0;
    width: 47%;
    margin: 0 auto;
    background-color: #eee4c2;
    height: 1px;
    border: 0;
    margin-top: 5px;
}
option {
    color: #000000;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: transparent;
    border-color: #fff;
}
.common-News.Hamburger-Day span.field-content a {
    margin-top: 35px;
	font-size:  9.2px;
}
.text-center {
    text-align: center;
    clear: both;
}
.pager{
	margin:0;
}
.news_homepage .pagination, ul.pagination {
    float: left;
	border-radius: 20px;
}
ul.pagination {
	margin: 30px 0 0px 15px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.14);
}
.news_homepage .pagination {
    margin: 30px 0 0px 15px;
}
.Heighlights .pagination {
    border-radius: 20px;
    margin: 33px 0 0px 15px;
}
.view.view-videos.view-id-videos.view-display-id-block. ul.pagination {
    float: left;
    margin-left: 20px;
}

.common-News.measure-Freshness span.field-content a {
    margin-top: 18px;
	font-size:  9.2px;
}
.country-Content, .heighlights-Content{ 
    margin-top: 30px;
}
.country label{
    font-size: 9.2px;
    color: #6d230a !important;
    letter-spacing: 3px;
}
.heighlights-Title label {
	font-size: 9.2px;
    color: #d39f00 !important;
    letter-spacing: 3px;
}
.bakery_selectCountry label {
	font-size: 9.2px;
	color:#A94442 !important;
	letter-spacing: 1px;
}
.country p {
    color: #eee4c2;
}
.country-Heighlights h3, .videos_home h3 {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'SansaStd-Bold';
    font-size: 50px;
}
.videos_home label {
    font-size: 9px;
    letter-spacing: 3px;
    color: #6b6b6a;
}
.videos_home p {
    margin-top: 23px;
    color: #6b6b6a;
    font-size: 16px;
}
.videos_home {
    margin-top: 60px;
}
.news_homepage button.btn-danger.pull-right {
    background-color: #de052d;
    margin-top: 30px;
    margin-right: 15px;
    text-transform: uppercase;
}
.news_homepage button.btn-danger.pull-right:hover, .news_homepage button.btn-danger.pull-right:active, .videos_home button.btn-danger.pull-right:hover, .videos_home button.btn-danger.pull-right:active{	
	background-color:#000000;
	color:#fff;
}
button.btn-danger.pull-right {
    background-color: #f07d00;
    border-radius: 50px;
    width: 12%;
    padding: 13px 0px 13px 0px;
    border: none;
    font-family: 'SansaStd-Bold';
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
button.btn-default {
    border-radius: 50px;
    width: 25%;
    padding: 13px 0px 13px 0px;
    color: #872c07;
    margin: 20px;
    border: none;
    font-size: 9.2px;
	font-family: 'SansaStd-Bold';
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact li:nth-child(2) {
    color: #6b6b6a;
}
.contact li:nth-child(3) {
    color: #6b6b6a;
    font-size: 10px;
    font-family: 'SansaStd-SemiBold';
}
.videos-banners ul.pagination, .Heighlights ul.pagination {
    float: left;
}
.heighlights-images h3 a {
    color: #000000;
    font-size: 24px;
}
button:after{
    content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-left: 15px;
}
.ourProduct_ContentClass a.btn-danger:after , .view-all-products-wrapper a:after, .view-id-finished_application a.discover-wrapper:after  {
    content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 15px;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #0C0B0B;
    content: "\e258";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 2px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 4px;
}
ol.breadcrumb li a {
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'SansaStd-SemiBold';
    font-size: 10px;
}
ol.breadcrumb li.active{
	text-decoration: none;
    text-transform: uppercase;
    font-family: 'SansaStd-SemiBold';
    font-size: 10px;
}
.related_Articles .underline {
    background-color: #EEDCDC;
    width: 30px;
    height: 1px;
    margin-bottom: 10px;
}
.deli_Product_Range_Image .underline {
    background-color: #d39f00;
    width: 40px;
    height: 1px;
    margin-bottom: 40px;
    margin-left: 10px;
}
.news_homepage label:first-child:before, .purato-Products label:before, .videos_home label:before{
    content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-left: 15px;
	color:red;
	margin-left:-8px;
}
.product_Bakery_Content label:before, .purato-Products label:before, .videos_home label:before{
    content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-right: 5px;
	color:#d39f00 ;
}
.bakery_Custommer_advantage li:before, .bakery_Consumer_advantage li:before{
	content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
	font-size:10px;
	margin-right:5px;
	color:#d39f00 ;
}

.related_websites li:before, .related_websites .bakery_Consumer_advantage li:before {
    color: #de052d !important;
}
.bakery_selectCountry #sel1:before, .bakery_selectCountry #sel1:after{
	content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
	font-size:10px;
	margin-right:5px;
	color:#de052d ;
}

.follow-us li:nth-child(2):after {
    content: "\f09a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #918E8E;
	font-size: 20px;
	margin-left:15px;
}
 
.follow-us li:nth-child(3):after {
    content: "\f166";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #918E8E;
    font-size: 20px;
	margin-left:15px;
}
.follow-us li:nth-child(4):after {
    content: "\f0e1";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #918E8E;
    font-size: 20px;
	margin-left:15px;
}  
.tb-megamenu .nav > li > a:after, a.fs-root-link:after {
    content: "\e259";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
	color:#ccc;
}
.footer .tb-megamenu .nav > li > a:after, a.fs-root-link:after {
    content: "\e259";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
	color:#ccc;
}
.contact li:last-child a:after {
    content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 15px;
    font-size: 10px;
    color: #292929;
}
 /* .product-ranges-left-links-wrapper li:hover:after, .product-ranges-left-links-wrapper li a:focus:after {
    content: "\e258";
	display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-left: 10px;
	font-size: 10px
	color:#fff;
	text-decoration:none;
} */
.product-ranges-left-links-wrapper .show-product-range.active:after, .product-ranges-left-links-wrapper li a:hover:after {
    content: "\e258";
	display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-left: 10px;
	font-size: 10px;
	color:#d39f00;
	text-decoration:none;
} 
.product-ranges-left-links-wrapper .show-product-range.active:hover:after {
	content:"";
}
li.prev a:after {
    content: "\e091";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 9px;
    font-size: 10px;
	color: #6b6b6a;
}
li.next a:after {
    content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 9px;
    font-size: 10px;
    color: #6b6b6a;
}
.videosbanner span:before {
    content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #f07d00;
	margin-right: 5px;
}
.form-item.form-item-countries.form-type-select.form-group:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-right: 5px;
    position: absolute;
    top: 15px;
    right: 150px;
    cursor: pointer;
}
.form-item.form-item-country.form-type-select.form-group:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-right: 5px;
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
.form-item.form-item-product-sub-category.form-type-select.form-group:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #292929;
    margin-right: 5px;
    position: absolute;
    top: 12px;
    right: 40px;
    cursor: pointer;
}
.form-item.form-item-product-brands.form-type-select.form-group:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #292929;
    margin-right: 5px;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}
form#get-all-discovered-countries-form:after {
    content: "\e062";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-right: 5px;
    position: absolute;
    /* top: 202px; */
    /* right: 165px; */
    cursor: pointer;
    margin-top: -44px;
    margin-left: 120px;
}
.background_Color-Left_Warpper #puratos-product-finder-filter-form .form-item-category:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #292929;
    margin-right: 5px;
    position: absolute;
    top: 50px;
    right: 8px;
    cursor: pointer;
}
.background_Color-Left_Warpper #puratos-product-finder-filter-form .form-item-brand:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #292929;
    margin-right: 5px;
    position: absolute;
    top: 165px;
    right: 8px;
    cursor: pointer;
}
.background_Color-Left_Warpper #puratos-product-finder-filter-form .form-item-finished-application:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin-left: 10px;
    color: #292929;
    margin-right: 5px;
    position: absolute;
    top: 310px;
    right: 8px;
    cursor: pointer;
}
select#edit-product-brands, select#edit-product-sub-category {
    width: 80%;
    margin: 0 auto;
}
.product_Bakery_Content label, .bakery_selectCountry label {
    font-size: 9px;
    text-transform: uppercase;
	color: #292929;
}
.contact li:nth-child(3) {
    text-decoration: underline;
}
span.glyphicon.glyphicon-arrow-right {
    color: #fff;
}
.country-Heighlights {
    padding-top: 55px;
}
.country-Heighlights span.glyphicon.glyphicon-arrow-right, .videos_home label:before {
    color:red;
}
.bakery_selectCountry h3 {
    font-size: 50px;
}
.form-item.form-item-product-brands.form-type-select.form-group, .form-item.form-item-product-sub-category.form-type-select.form-group, .form-item.form-item-countries.form-type-select.form-group, .form-item.form-item-select-country.form-type-select.form-group{
    position: relative;
}
.country select#sel1 {
	width: 50%;
    margin-bottom: 25px;
    margin: 0 auto;
    background-color: transparent;
    border-bottom: 2px solid yellow;
    color: #fff;
    outline: none;
	margin-top: 30px;
}
.country, .bakery_selectCountry {
	text-align: center;
    color: #fff;
}
.heighlights-Title {
    text-align: center;
}
.watchourstory{
	color:#fff;
	font-family: 'MarketOT-CondMedium';
	font-size:24px
} 
.find-a-puratos-product-desc-product-homepage-wrapper {
    width: 65%;
    margin: 0 auto;
}
.common-Border p:first-child, .related_Articles p:first-child {
    font-family: 'MarketOT-CondMedium';
    color: #d39f00;
    font-size: 17px;
}
.colorBg {
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
    height: 250px;
    overflow: hidden;
    min-height: 250px;
}
.colorBg p {
    margin-top: 30px;
    color: #6b6b6a;
    font-size: 15px;
}
.colorBg h3 {
    margin: 0px;
    font-size: 24px;
    margin-bottom: 15px;
	font-family: 'SansaStd-Bold';
}
.heighlights-Title, .heighlights-Title label{
	color:#fff;
}
.bigText span {
    float: left;
    font-size: 60px;
    line-height: 63px;
    padding-top: 2px;
    padding-right: 10px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.heighlights-right-image span a{
    color: #fff;
    font-size: 24px;
}
.heighlights-right-image span a:hover{
	text-decoration:none;
}
.videos-banners button.btn-danger.pull-right{
	background-color: #f07d00; 
}
.Heighlights.pager {
    padding-left: 0;
    text-align: center;
    list-style: none;
    color: #fff;
    position: absolute;
    top: 370px;
    left: 30px;
}
.bakery_Product_Content span {
    float: left;
    font-size: 60px;
    line-height: 34px;
    padding-top: 3px;
    padding-right: 10px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.bakery_Product_Content p, .product_Bakery_Features_Content p, .common-News p, .ourPoduct_Introduction p {
    font-size: 16px;
	color: #6b6b6a;
}
 
.videos-banners{
	clear:both;
	padding-top: 25px;
}
.videos-banners img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
}
.videos_home button.btn-danger.pull-right {
    margin-top: 30px;
	margin-right: 15px;
}
.heighlights-right-image img{
    border-radius: 10px;
}
.news-images img{
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.videosbanner span {
    position: absolute;
    top: 200px;
    left: 20px;
    font-family: 'SansaStd-Bold';
    color: #fff;
    font-size: 21px;
}
.heighlights-right-image span {
    position: absolute;
    left: 45px;
    top: 180px;
	font-family: 'SansaStd-Bold';
	color:#fff;
	font-size:24px;
} 
.product-ranges-left-links-wrapper ul li a {
    color: #e6c6ae;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.product-ranges-left-links-wrapper .show-product-range.active a, .product-ranges-left-links-wrapper li a:hover, .product-ranges-left-links-wrapper li a:active, .product-ranges-left-links-wrapper li a:focus {
    color: #fff !important;
    text-decoration: none;
    /* font-family: 'SansaStd-Bold'; */
    font-size: 10px;
   
}
/*footer start*/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav .level-1, .footer-nav .level-2 {
	font-size: 10px;
	color: #292929;
}

.footer-nav .level-3 {
	font-size: 9px;
	color: #6b6b6a;
	padding-left: 10px;
}
.follow-us li {
    font-size: 10px;
    font-family: 'SansaStd-Bold';
    letter-spacing: 3px;
}
.footer-nav .level-3 {
	font-size: 9px;
	color: #6b6b6a;
}

.contact ul li, .follow-us ul li, .copyright-1 li, .disclaimer li {
    display: inline-block;
    padding: 15px;
    color: #292929;
}
a.fs-root-link {
    color: #292929 !important;
	margin-bottom:10px;
	font-family: 'SansaStd-Bold' !important;
}
#footer-sitemap a {
    text-decoration: none;
    color: #6b6b6a;
    font-size: 10px;
    line-height: 30px;
    font-family: 'SansaStd-SemiBold';
}
#footer-sitemap a.fs-root-link {
	font-size: 10px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px; 
}
.contact-through {
    margin: 40px 0 20px;
    border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.contact {
    float: left;
    width: 65%;
    border-right: 1px solid #e6e6e6;
    font-family: 'SansaStd-Bold';
    font-size: 10px;
    position: relative;
    height: 48px;
    padding-top: 4px;
}
.contact li:last-child a {
    margin-left: 40px;
    letter-spacing: 2px;
    font-size: 9px;
}
.follow-us {
    float: left;
    width: 31%;
    text-transform: uppercase;
    margin-left: 30px;
}
.follow-us a {
    width: 15px;
    position: absolute;
    margin-left: 18px;
}
.follow-us a:hover, .follow-us a:focus {
    text-decoration: none;
}
.copyright-1 {
	float: left;
}
.contact ul a {
    color: #292929;
    font-family: 'SansaStd-Bold';
}
.disclaimer {
	float: right;
}
.last span.glyphicon.glyphicon-arrow-right {
    color: #070101;
}
li.last, li.first{
    font-size: 10px;
}
 
.footer {
    padding-top: 35px;
    position: relative;
    background: #fff;
    margin-top: 0;
}
.region.region-footer-left {
    width: 65%;
    float: left;
    font-family: 'SansaStd-SemiBold';
    font-size: 9px;
    color: #6b6b6a;
}
.region.region-footer-right{
	font-family: 'SansaStd-SemiBold';
    font-size: 10px;
}
.region.region-footer-right ul li a {
    color: rgba(101, 100, 100, 0.89);
}
.region.region-footer-right ul li {
    margin-left: 30px;
    display: inline !important;
}
ul.footer-nav {
    font-size: 10px;
    font-family: 'SansaStd-SemiBold';
    line-height: 20px;
	text-transform: uppercase;
}
ul.footer-nav span, li.first {
    font-family: 'SansaStd-Bold';
	font-size: 10px;
}
.copyright-1, .disclaimer {
    font-family: 'SansaStd-SemiBold';
	font-size: 11px;
    font-weight: bold;
}
.puratos-footer-menu-wrapper {
    font-family: 'SansaStd-Bold';
    text-transform: uppercase;
    font-size: 10px;
}
/* Product - Bakery CSS start*/
.product_Bakery_Content, .bakery_selectCountry label{
	margin-top:45px;
}
.product_Bakery_Content h3, .product_Bakery_Features_Content h3, .bakery_Custommer_advantage h4, .bakery_Consumer_advantage h4,  .bakery_selectCountry  h3{
	font-family: 'SansaStd-Bold';
	margin:0;
}
.deli_Product_Range_Image h3 {
    font-family: 'SansaStd-Bold';
    color: #fff;
    font-size: 40px;
    margin: 40px 0px 25px 5px !important;
}
.deli_Product_Range_Image h4 {
    font-family: 'SansaStd-Bold';
    color: #cb960b;
    font-size: 30px;
}
.product-range-detail-wrapper h4 {
    margin-top: -20px;
}
.deli_Product_Range_Image .field-name-field-product-range-description p{
	font-size: 16px;
    text-align: justify;
	}
.bakery_Custommer_advantage p, .bakery_Consumer_advantage p{
	color:#999;
	margin:5px 0px 0px 30px;
}
.bakery_Custommer_advantage h4, .bakery_Consumer_advantage h4 {
    margin: 40px 0px 0px 0px;
    font-size: 24px;
    color: #292929;
}
.bakery_Custommer_advantage li, .bakery_Consumer_advantage li {
    margin: 15px 0 10px 0;
    font-size: 16px;
}
.product-ranges-left-links-wrapper {
    margin-left: -5px;
}
.product_Bakery_Features_Content h3 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #292929;
}
.product_Bakery_Features_Content{
	margin-left: 52%;
}
.bakery_Product_Features_Image{
	text-align:justify;
}
.border_Consumer_advantage{
	border-left:1px solid #DBDBDB;
}
.top_Border{
	border-top:1px solid #DBDBDB;
	margin:50px 0 30px 0;
	
}
.custommer_Consumer_advantage_WatchVideo{
	text-align: center;
    
}
.bakery_Consumer_advantage {
    margin-left: 55px;
}
.custommer_Consumer_advantage_WatchVideo img {
    border-radius: 10px;
    margin-top: 90px;
    left: 45%;
    position: absolute;
}
.deli_Product_Range_Image{
	color:#e6c6ae;
}
.deli_Product_Range_Image li {
    border-bottom: 1px solid;
	border-color:#7F3C09;
    line-height: 40px;
    list-style-type: none;
	font-family: 'SansaStd-SemiBold';
	font-size: 10px;
}
.prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper ul {
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: #6b6b6a;
}
.deli_Product_Range_Image li:hover {
	color:#fff;
}
.deli_Product_Range_Image h3, .related_Articles h3, .bakery_Product_Content{
    margin: 40px 0px 50px 5px;
}
.related_websites .bakery_Custommer_advantage li a, .related_websites .bakery_Consumer_advantage li a {
    color: #de052d;
    font-family: 'SansaStd-SemiBold';
    font-size: 14px;
    text-decoration: underline;
}
.related_websites p{
	font-family: 'SansaStd-SemiBold';
	color:red !important;
	font-size: 10px;
	margin-top: 10px;
	margin-right: 5px;
}
.bakery_selectCountry select#sel1 {
    width: 20%;
    margin: 0 auto;
    background-color: #d39f00;
    border-bottom: 2px solid yellow;
    color: #fff;
    outline: none;
    margin-top: 45px;
}
.bakery_Product_Content {
    width: 93%;
    margin: 10px auto;
    margin-bottom: 30px;
}
.node-product .top_Border {
    border-top: 1px solid #ccc;
    margin: 25px 0 0 0;
}
.related_Articles h4 {
    font-size: 19pt;
    margin: 15px 0px 15px 0px;
    
}
.puratos-footer-menu-wrapper li.menu-478.depth-1.total-children-3.parent-children-0.single-children-3 {
    margin-left: 130px;
    width: 10%;
}
.puratos-footer-menu-wrapper li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2.active, li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2 {
    margin-left: 130px;
}
.puratos-footer-menu-wrapper li.menu-481.depth-1.total-children-3.parent-children-3.single-children-0 {
    margin-left: 130px;
}
.puratos-footer-menu-wrapper li.menu-482.depth-1.fs-no-children.last {
    margin-left: 72px;
}
#block-views-services-header-menu-block .views-field.views-field-view-node span a {
    color: #de052d !important;
    font-size: 9px;
}
.newCls{
	float:left;
	width:50%
}

.height-image {
	background-image: url("../images/country.jpg");
    height: 547px;
    background-size: cover; 
}
.country_Image{
	background-image: url("../images/Hightlights.jpg");
    height: 547px;
    background-size: cover; 
}
/* Product - Bakery CSS End*/

/* Product - OurProduct CSS Start*/
 
.ourproduct,.ourPoduct_categories {
    text-align: center;
}
.ourproduct label:before{
	content: ""; 
}
 
.ourproduct label{
	color:#d39f00;
}
.ourProduct_categories label{
	font-size: 9px;
    color: rgba(101, 100, 100, 0.89);
    letter-spacing: 3px;
    margin-left: -10px;
}
.ourProduct_categories h3 {
    margin: 0 0 25px 0;
}
.ourPoduct_Introduction {
    margin-bottom: 20px;
} 
 .ourproduct,.ourProduct_categories  {
    text-align: center;
}
 
.ourproduct label:before{
	content: ""; 
}
.prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper {
    margin-top: 40px;
    margin-left: 40px;
    width: 46%;
}
/* .ourproduct p:first-child{	
	width: 60%;
	margin:0 auto;
	margin-bottom: 30px;
}
.ourProduct_categories p:first-child{} */
.ourproduct label{
	color:#d39f00;
	font-size: 10px;
}
.ourproduct h3 {
    margin-bottom: 20px;
    font-size: 40px;
}
.view-header p {
    font-size: 16px;
    color: #6b6b6a;
}
.ourProduct_categories label {
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 40px;
    color: #de052d;
}
.ourProduct_categories h3 {
    margin: 0 0 25px 0;
    color: #292929;
    font-size: 40px;
}
.ourProduct_ContentClass p {
    color: #6b6b6a;
}
.ourPoduct_Introduction span {
    float: left;
    font-size: 60px;
    line-height: 44px;
    padding-top: 0px;
    padding-right: 10px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
 .ourProduct_ImagesClass {
    float: left;
}
.ourProduct_categories{
	margin-bottom: 20px;
}
 
.ourProduct_ContentClass button{	
	background-color: #de052d;
    border-radius: 50px;
    width: 40%;
    padding: 13px 0px 14px 0px;
    border: none;
    font-family: 'SansaStd-Bold';
    font-size: 9.2px;
    letter-spacing: 1px;
}
.ourProduct_ContentClass button:hover{	
	background-color: #000;
}
.ourProduct_ContentClass h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.ourProject_Content {
    margin: 50px 0px 0px 20px;
    color: #fff;
}
.ourProject_Content h3{
	font-family: 'SansaStd-Bold';
	font-size: 30pt;
}
.bakery_selectCountry select {
    width: 25%;
    margin: 0 auto;
    margin-top: 30px;
    background: none;
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-family: 'Karmina-Italic';
}
.product-range-detail-wrapper img {
    border-radius: 10px;
}
.bakery_selectCountry hr {
    margin: 0;
    width: 25%;
    margin: 2px auto;
	background-color: #eee4c2;
}
.node-type-sections-page .product_Bakery_Image .product_Bakery_Content {
    margin-top: 70px;
    color: #fff;
}
.navbar-default {
    background-color: transparent;
}
.region-grid-three-column {
    margin-top: 40px;
}
.grid-three-column-wrapper p {
    width: 60%;
    margin: auto;
}
.grid-three-column-wrapper h4 {
    width: 70%;
    margin: auto;
    text-align: center;
}
#breadcrumb {
    width: 92%;
    margin: 10px auto;
}
h1#page-title {
    margin: 40px 0px 40px 40px;
    font-family: 'SansaStd-Bold';
}
.tabs {
    margin: 40px;
	 width: 30%;
}
.puratos-user-login-form-wrapper label, .form-item.form-item-name.form-type-textfield.form-group label {
    font-family: 'SansaStd-Bold';
    text-transform: uppercase;
    font-size: 10px;
}
.puratos-user-login-form-wrapper button#edit-submit:hover {
 	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.puratos-user-login-form-wrapper button#edit-submit {
    border-radius: 50px;
    padding: 13px 0px 13px 0px;
    border: 1px solid #adadad;
    font-size: 9.2px;
    font-family: 'SansaStd-Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 0;
	margin-top: 15px;
}
.puratos-user-login-form-wrapper {
    width: 30%;
    margin-left: 40px;
}
.home-Scroll{
	margin-top: 85px;
}
.view-all-products-wrapper a {
	padding: 12px 20px 12px 20px;
    border-radius: 50px;
    margin-top: 28px;
    background-color: #fff;
    border: none;
    font-family: 'SansaStd-Bold';
    font-size: 9.2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bd362f;
} 
#user-pass .form-item.form-item-name.form-type-textfield.form-group {
    width: 30%;
    margin-left: 40px;
}
#user-pass button {
    border-radius: 50px;
    width: 18%;
    padding: 13px 0px 13px 0px;
    color: black;
    margin: 0px;
    border: 1px solid #adadad;
    font-size: 9.2px;
    font-family: 'SansaStd-Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 40px;
}
.view-all-products-wrapper a:hover{
   	text-decoration: none;
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.ourProduct_ContentClass a.btn-danger {
    padding: 12px 20px 12px 20px;
    border-radius: 50px;
    margin-top: 28px;
    background-color: #de052d;
    border: none;
    font-size: 9px;
    letter-spacing: 2px;
	font-family: 'SansaStd-Bold';
    text-transform: uppercase;
    color: #fff;
}
.ourProduct_ContentClass a.btn-danger:hover{
    background-color: #000;
	text-decoration: none;
}
.ourProduct_categories .view-header p {
    width: 65%;
    margin: 0 auto;
	margin-bottom: 30px;
}
.ourProduct_ContentClass .views-field.views-field-nothing {
    margin-top: 15px;
}
.ourproduct .product-image h4 {
    text-align: center;
    font-size: 40px;
    font-family: 'SansaStd-Bold';
}
select#edit-product-brands {
    border: none;
    outline: none;
    font-family: 'Karmina-Italic';
    font-size: 18px;
    color: #292929;
} 
.view-all-products-wrapper {
    margin-top: 25px;
    float: right;
    margin-right: 15px;
}
li.prev a, li.next a {
	font-size:0;
}
li.pager-first, li.pager-last{
	display:none;
}
.product-slideshow-full-description-wrapper .product-slideshow-wrapper {
    float: left;
    width: 48%;
	margin-top: 5px;
}
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 60px auto;
    padding: 0;
    text-align: center;
}
ol.breadcrumb li:before {
    font-size: 10px;
}


/*product-Bakery__ CSS Starts*/
div#taxonomy-term-5 .row {
    margin: 0;
}
.prd-subcat-desc-left-img-right-txt-wrapper img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 60px;
}
.prd-subcat-desc-image.prd-subcat-desc-right-img-wrapper img{
	margin-top: 65px;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper p {
    font-size: 16px;
    color: #6b6b6a;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper{
    margin-left: 15px;
	margin-top: 35px;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper h3, .prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper h3 {
    font-size: 30px !important;
    margin-bottom: 20px;
    color: #292929;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper p {
    text-align: justify;
    font-size: 16px;
    color: #6b6b6a;
}
.prd-subcat-desc-txt .prd-subcat-desc-full-txt-wrapper h3{
	margin:0;
	margin-bottom: 20px;
	font-size:30px !important;
}
.field-collection-container, .field-collection-view {
    border:none;
    margin:0;
	padding:0;
}
.product-Bakery_Head_Content label:before, .prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper li:before {
    content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
    color: #d39f00;
    margin-left: -8px;
 	letter-spacing: 3px;
}
.whereLeftContentWrapper ul {
	margin-bottom:15px;
}
.product_Bakery_Introduction p, .tasteRightContentWrapper p {
    text-align: justify;
    font-size: 16px;
    color: #6b6b6a;
}
.product-Bakery__Top_images{
	height: 302px;
    background-size: cover;
}
.product_Bakery_Our_Sourdough{
	background-image: url("../images/Product_Bakery_Our_Sourdough1.jpg");
    height: 367px;
	background-repeat:no-repeat;
}
.product_Bakery_All_BAKERY_Products{
	background-image: url("../images/Product_Bakery_All_BAKERY_Products.jpg");
    height: 367px;
	background-repeat:no-repeat;
}
.product_Bakery_CenterFor_BreadFlavor{
	background-image: url("../images/Product_Bakery_CenterFor_BreadFlavor.jpg");
    height: 367px;
	background-repeat:no-repeat; 
}
/* .tasteLeftImageWrapper {
    background-image: url("../images/Product_Bakery_TasteThe_World.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 90%;
} */
.prd-subcat-desc-image.prd-subcat-desc-left-img-wrapper {
    width: 48%;
    float: left;
    margin-left: -15px;
}
.tasteLeftImageWrapper {
    float: left;
    width: 50%;
}
.whereICanBuyBreadsWrapper {
    width: 50%;
    float: left;
}
.fullContentWrapper{
	margin-bottom: 30px;
    margin-top: 30px;
	clear: both;
}
 
.tasteLeftImageWrapper {
    margin-top: 30px;
}
.whereLeftContentWrapper {
    width: 46%;
    float: left;
	text-align:justify;
}
.product-Bakery_Head_Content {
    margin-top: 100px;
    color: #fff;
}
.product-Bakery_Head_Content label {
    text-transform: uppercase;
    font-size: 9px;
	letter-spacing: 2px;
}
.tasteRightContentWrapper h3, .whereLeftContentWrapper h3 {
    font-family: 'SansaStd-Bold';
    font-size: 25pt;
    text-align: left;
	margin-left:30px;
}
.product-Bakery_Head_Content h2 {
    font-family: 'SansaStd-Bold';
    font-size: 60px;
    margin: 0;
}
.product_Bakery_Introduction {
    padding: 0 !important;
}
.product_Bakery_Introduction span {
    float: left;
    font-size: 60px;
    line-height: 40px;
    padding-top: 0px;
    padding-right: 10px;
    font-family: 'SansaStd-Bold';
    color: #292929;
}
.common-News label {
    letter-spacing: 2px;
}
.grid-three-column-wrapper span a:after{
	content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 15px;
}
.grid-three-column-wrapper span a:hover{
	text-decoration: none;
    color: #d39f00;
    background-color: #fff;
    border-color: #d39f00;
}
.show-product-range {
	display:block;
}
.hide-product-range{
	display:none;
}
.deli_Product_Range_Image li.next:hover:after, .deli_Product_Range_Image li.prev:hover:after {
    content: "";
}
.deli_Product_Range_Image li.next:hover, .deli_Product_Range_Image li.prev:hover {
    border-bottom: none;
}
.deli_Product_Range_Image li.next {
    border: none;
    margin-top: 15px;
	cursor: pointer;
}
.deli_Product_Range_Image li.prev {
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}
.grid-three-column-wrapper span a {
    padding: 12px 20px 12px 20px;
    border-radius: 50px;
    margin-top: 28px;
    background-color: #fff;
    border: none;
    font-family: 'SansaStd-Bold';
    font-size: 9.2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bd362f;
}
.grid-three-column-wrapper label {
    font-size: 9.2px;
    letter-spacing: 2px;
    margin-top: 50px;
    color: #d39f00;
    text-transform: uppercase;
}
.grid-three-column-wrapper h4 {
    font-family: 'SansaStd-Bold';
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px !important;
}
.grid-three-column-wrapper p {
    font-size: 16px;
    color: #fff;
}
#block-bean-sourdough-library p {
    margin-bottom: 60px;
}
#block-bean-products-grid p, #block-bean-bread-flavor-grid p {
    margin-bottom: 100px;
}
section#block-bean-bread-flavor-grid label {
    color: #6d230a;
}
.prd-subcat-desc-full-txt-wrapper {
    margin: 20px 0px 15px 0;
    margin: 15px auto;
    width: 94%;
}
.page-taxonomy-term.page-taxonomy-term-.page-taxonomy-term-5 .row {
    margin: 0;
}
.field-collection-container .field-items .field-item {
    margin-bottom: 0px;
}
.prd-subcat-desc-image.prd-subcat-desc-full-img-wrapper {
    padding: 0;
}
form#header-country-form hr {
    margin: 0;
    border: none;
}
.form-item.form-item-country.form-type-select.form-group {
    margin: 0 !important;
}
#header-country-form select#edit-country {
    border-radius: 0;
}
.product-subcategoreis-menu-wrapper {
    height: 70px;
    background-color: #f8f8f8;
	-webkit-box-shadow: inset 0px 10px 12px 2px rgba(239,239,239,1);
	-moz-box-shadow: inset 0px 10px 12px 2px rgba(239,239,239,1);
	box-shadow: inset 0px 10px 12px 2px rgba(239,239,239,1);
}
.product-subcategoreis-menu-wrapper ul {
    padding: 25px;
}
.product-subcategoreis-menu-wrapper li {
    display: inline;
    padding: 18px;
    margin-top: 21px;
}
.product-subcategoreis-menu-wrapper li a {
    color: #6b6b6a;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'SansaStd-SemiBold';
    padding-bottom: 28px;
}
.product-subcategoreis-menu-wrapper li a:hover, .product-subcategoreis-menu-wrapper li a:active, .product-subcategoreis-menu-wrapper li a:focus, .product-subcategoreis-menu-wrapper li a.active{
    color: #000;
    text-decoration: none;   
	box-shadow: inset 0 -5px 0 0 #d39f00;
}

.tb-megamenu .nav > li > a:hover {
    box-shadow: inset 0 -5px 0 0 #d39f00;
}
.prd-subcat-desc-txt.prd-subcat-desc-full-txt-wrapper h3 {
    font-size: 40px;
    color: #292929;
    margin-bottom: 20px;
}
.prd-subcat-desc-txt.prd-subcat-desc-full-txt-wrapper p {
    font-size: 16px;
    color: #6b6b6a;
}
.prd-subcat-desc-image.prd-subcat-desc-right-img-wrapper {
    padding: 0;
    margin-left: 10px;
}
.grid-three-column-wrapper {
    height: 367px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.camera_target {
     height: 460px;
}
.cameraSlide img {
    margin-top: 0 !important;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    height: 460px !important;
}
span.camera_bar_cont {
    display: none;
}
.node-product .top_Border {
    border-top: 1px solid #ccc;
    margin: 140px 0 0 0;
}
section#block-bean-sourdough-library, section#block-bean-products-grid, section#block-bean-bread-flavor-grid {
    padding: 0;
}
.taxonomy-term-description {
    margin-bottom: 40px;
}
.view-id-finished_application img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.view-id-finished_application{
	text-align:center;
}
.view-id-finished_application .views-field-counter span.field-content{
	color:#d39f00;
	margin-top: 20px;
	font-family: 'MarketOT-CondMedium';
}
.view-id-finished_application .views-field-name h4{
	text-align: center;
    font-size: 20pt;
    font-family: 'SansaStd-Bold';
    color: #292929;
	margin: 0;
}
.view-id-finished_application .views-field-description p {
    color: #6b6b6a;
	margin-bottom: 25px;
}
.view-id-finished_application a.discover-wrapper{
	border-radius: 50px;
    padding: 12px 15px 12px 15px;
    border: none;
    background-color: #d39f00 !important;
    font-family: 'SansaStd-Bold';
    letter-spacing: 2px;
    margin-top: 15px;
    font-size: 9.2px;
    text-transform: uppercase;
    color: #fff;
}
.view-id-finished_application a.discover-wrapper:hover{
	text-decoration:none;
}
.view-id-finished_application .views-row-odd, .view-id-finished_application .views-row-even  {
	background-color: transparent;
    min-height: 340px;
	margin-bottom: 20px;
}
.view-id-finished_application .views-field-counter {
    padding-top: 20px;
}
.view-id-finished_application .finished-applications-overview-item-wrapper {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    min-height: 280px;
    margin-bottom: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: 280px;
    overflow: hidden;
    background-color: #fff;
}
.view-id-finished_application .views-field-field-fin-sub-apl-image {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.view-id-finished_application .finished-applications-overview-item-wrapper h4.field-content .underline {
    background-color: #d39f00;
    width: 25px;
    height: 1px;
    text-align: center;
    margin: 15px 0 15px 115px;
} 

.page-product-finder .row{
	margin:0;
}
.background_Color-Left_Warpper #puratos-product-finder-filter-form{
	margin: 40px 0 40px 0;
	position: relative;
}
.background_Color-Right_Warpper .product-finder-product-wrapper{	
	margin-top: 40px;
	position: relative;
}
.background_Color-Right_Warpper .product-finder-product-wrapper .text-center {
    margin-bottom: 100px;
}
.background_Color-Right_Warpper .product-finder-product-wrapper .common-Border{
	height: 250px;
	min-height: 250px;
}
.background_Color-Left_Warpper {
    background-color: #f9f9f9;
   	width:19%;
}
.background_Color-Right_Warpper {
    background-color: #efefef;
   	width:81%;
}
.background_Color-Right_Warpper .underline {
    background-color: #DBDBDB;
    width: 25px;
    height: 1px;
    margin: 20px 0 20px 0;
}
.background_Color-Right_Warpper span a{
    color: #de052d;
    margin-top: 30px;
    font-size: 9px;
    font-family: 'SansaStd-SemiBold';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.background_Color-Left_Warpper #puratos-product-finder-filter-form #edit-category, .background_Color-Left_Warpper #puratos-product-finder-filter-form #edit-brand, .background_Color-Left_Warpper #puratos-product-finder-filter-form #edit-finished-application{
	margin-bottom: 5px;
	font-size: 16px;
	padding: 0px;
}

.background_Color-Left_Warpper #puratos-product-finder-filter-form label{
    margin-bottom: 5px;
	font-size: 21px;
	color: #292929;
	
}
.background_Color-Left_Warpper #puratos-product-finder-filter-form button{
	width: 65%;
	border-radius: 50px;
    padding: 12px 0px 12px 0px;
    border: none;
    background-color: #d39f00 !important;
    letter-spacing: 2px;
	font-family: 'SansaStd-Bold';
	text-transform: uppercase;
}
.background_Color-Left_Warpper hr {
    margin: 0;
    margin-top: 3px;
    border-top: 1px solid #E0D8D8;
    margin-bottom: 40px;
}
.application_Results {
    margin: 0;
    padding: 0 !important;
}
 
.background_Color-Left_Warpper .search-button-product {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
.background_Color-Right_Warpper h4 {
    font-family: 'SansaStd-Bold';
    font-size: 24px;
    color: #292929;
}
.background_Color-Left_Warpper select{
	border: none;
    outline: none;
	font-family: 'Karmina-Italic';
	background-color:transparent; 
}
.background_Color-Right_Warpper .product-Image img {
    width: 100%;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
}
.background_Color-Right_Warpper .product-finder-product-wrapper .common-Border p{
	color: #6b6b6a;
}
.background_Color-Right_Warpper ul.pagination {
    margin: 30px 0 34px 15px !important;
    float: none;
}
/* Filling Style Starts */
.fillingPage_TopImages{
	background-image: url("../images/fillingPage_TopImages.jpg");
    height: 217px;
    background-size: cover;
	background-repeat: no-repeat; 
}
.header-image-bottom {
    background-image: url("../images/header-image-bottom.png");
    height: 90px;
    background-repeat: no-repeat;
	background-size: cover;     
	/* margin-top: -85px; */
}
.fillingPage-Innovation{
	background-image: url("../images/innovations.jpg");
    height: 367px;
	background-repeat:no-repeat;
}
.fillingPage-PeaseofMind{
	background-image: url("../images/PeaseofMind.jpg");
    height: 367px;
	background-repeat:no-repeat;
}
.fillingPage-CostOF{
	background-image: url("../images/cost.jpg");
    height: 367px;
	background-repeat:no-repeat; 
}
.fillingPage_Head_Content h2{
    font-family: 'SansaStd-Bold';
    font-size: 60px;
    margin: 0;
	color:#292929;
}
.fillingPage_Head_Content {
    margin-top: 45px;
    color: #fff;
    margin-left: 15px;
}
.fillingPage_Head_Content label {
    text-transform: uppercase;
    font-size: 9.2px;
	letter-spacing: 2px;
	color: #6b6b6a;
}
.fillingPage_Head_Content label:before {
    content: "\2212";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
    color: #d39f00;
    margin-left: -8px;
 	letter-spacing: 3px;
}
.fillingPageBlock_wrapper li:after {
    content: "\e092";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 8px;
}
.fillingPage_Introduction h3 {
    font-family: 'SansaStd-Bold';
    font-size: 30px;
    margin: 40px 0 20px 0;
    color: #292929;
}
.fillingPage_Introduction p {
    font-size: 16px;
    color: #6b6b6a;
    text-align: justify;
}
.fillingPageBlock_wrapper {
    margin: 40px 0px 0px 0px;
	
}
.fillingPage_WhatSearching {
	margin: 20px 0 20px 0;
	text-align:center;
}
.fillingPage_WhatSearching h3 {
    font-family: 'SansaStd-Bold';
    font-size: 30px;
    margin: 10px 0 15px 0;
    color: #292929;
}
.fillingPage_WhatSearching p, .fillingPageBlock_wrapper p{
	color: #6b6b6a;
    font-size: 16px;
	text-align:center;
}
.fillingPageBlock_wrapper h4 {
    font-size: 40px;
    color: #292929;
	font-family: 'SansaStd-Bold';
	text-align:center;
}
 
.fillingPageBlock_wrapper .underline{
	width: 30px;
    background-color: #db0f33;
    height: 2px;
	margin: 20px auto;
}
.fillingPageBlock_wrapper ul{
	color:#db0f33;
	text-transform:uppercase;
	margin-top:20px;
	font-family: 'SansaStd-Bold';
	font-size: 10px;
}
.fillingPageBlock_wrapper li {
    border-top: 1px solid #eee;
    padding: 10px 0 10px 0;
	 
}
.fillingPageBlock_wrapper .common-Border {
	height: 300px;
    min-height: 300px;
    overflow: hidden;
}
.fillingPage-Innovation h4, .fillingPage-PeaseofMind h4, .fillingPage-CostOF h4{
	font-family: 'SansaStd-Bold';
	font-size: 40px;
	color: #fff;
	text-align:center;
	margin:30px 0 30px 0;
}
.fillingPage-Innovation li, .fillingPage-PeaseofMind li, .fillingPage-CostOF li{
	font-family: 'SansaStd-Bold';
	font-size: 10px;
	color: #fff;
	text-transform:uppercase;
	text-align:center;
	line-height: 20px;
	letter-spacing: 2px;
}
.fillingPage-PeaseofMind li {
    color: #d39f00;
}
.fillingPage-Innovation li, .fillingPage-CostOF li{
	color:#6d230a;
}
.fillingPageBlock_wrapper img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fillingPage-Innovation p, .fillingPage-PeaseofMind p, .fillingPage-CostOF p {
	font-size: 16px;
	color: #fff;
	text-align:center;
	margin: 0 0 30px 0;
}
/* Filling Style Ends */	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
 








/*---------------------------- Mobile Devices --------------------------------*/
@media only screen and (max-width : 767px) {
.top-bar {
    display: none;
}
.navbar-default .navbar-brand{
	border:none;
}
.navbar-header button:after{
	content:"";
}
button.navbar-toggle.collapsed {
    margin-top: 35px;
	border:none;
}
.purato-Products h3 {
	font-size: 25px;
}
.purato-Products p {
    margin: 10px;
    text-align: justify;
}
.image-Title p {
    font-size: 25px;
    margin-top: 20px;
}
.home-banner-Scroll {
    margin-left: -10%;
    margin-top: 52px;
    position: absolute;
}
.product-finder-BG, .news_homepage_BG_image, .country_Heighlights_BG_image, .video_BG_image {
    height: auto;
}
 .videosbanner, .common-News, button.btn-danger.pull-right {
    margin-bottom: 15px;
}
.news_homepage {
    margin-top: 7%;
}
button.btn-danger.pull-right {
    width: 40%;
    padding: 12px 0px 12px 0px;
}
button.btn-default {
    width: 40%;
	padding: 12px 0px 12px 0px;
	margin: 26px 0;
}
select#edit-countries {
    width: 100%;
    border: none;
    outline: none;
}
.country hr {
    margin: 0;
    width: 100%;
}
.heighlights-right-image img {
    border-radius: 10px;
    width: 100%;
}
.bigText p{
	text-align:justify;
}
li.menu-475.depth-1.total-children-2.parent-children-0.single-children-2.first {
    width: 50%;
    float: left;
	margin-left:0;
}
.puratos-footer-menu-wrapper li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2.active, li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2 {
    margin-top: 15px;
    float: left;
    width: 50%;
	margin-left:0;
}
.puratos-footer-menu-wrapper li.menu-478.depth-1.total-children-3.parent-children-0.single-children-3{
	margin-left:0;
	float: left;
    width: 50%;
}
.puratos-footer-menu-wrapper li.menu-481.depth-1.total-children-3.parent-children-3.single-children-0 {
    float: left;
    width: 50%;
    margin-top: 15px;
	margin-left:0;
}
.puratos-footer-menu-wrapper li.menu-482.depth-1.fs-no-children.last {
    margin-left: 0;
    margin-top: 17px;
}
.contact ul li, .follow-us ul li, .copyright-1 li, .disclaimer li {
    display: flex;
    padding: 6px;
}
.contact li:last-child a {
    margin-left: 0;
}
.region.region-footer-right ul li {
    margin-left: 0;
    padding: 5px;
}
.follow-us li:after{
	margin-left: 0;
}
.product-image h4 {
    font-size: 16pt;
}
.common-Border p:first-child {
    text-align: center;
}
.search-button-product button {
    width: 45%;
    padding: 10px 0px 10px 0px;
}
li.pager-last {
    display: none;
}
.region.region-footer-left {
    width: 100%;
    float: none;
}
.region.region-footer-right {
    margin-top: 15px;
}
.region.region-footer-right li:first-child {
    float: left;
    margin-right: 60px;
}
.region.region-footer-right li:nth-child(3) {
    float: left;
    margin-right: 95px;
}
.bakery_Product_Content p, .product-range-detail-wrapper p {
    text-align: justify;
}
.product_Bakery_Features_Content {
    margin-left: 0;
    margin: 10px;
}
.bakery_Consumer_advantage {
    margin-left: 0;
}
.bakery_Custommer_advantage h4, .bakery_Consumer_advantage h4 {
    margin: 30px 0px 0px 0px;
    font-size: 22px;
}
 
.deli_Product_Range_Image {
    height: 775px;
}
.bakery_selectCountry select {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
.bakery_selectCountry hr {
    width: 90%;
}
.ourProduct_categories h3, .deli_Product_Range_Image h3, .related_Articles h3 {
    font-size: 27pt;
}
.deli_Product_Range_Image h3, .related_Articles h3, .bakery_Product_Content {
    margin: 40px 0px 50px 5px;
    
}
.product-range-detail-wrapper p {
    text-align: justify;
}
.product-range-detail-wrapper img{
	width:100%;
}
.product-slideshow-full-description-wrapper .product-slideshow-wrapper{
	width:100%;
}
.product_Bakery_Features_Content h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.follow-us {
    width: 100%;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 0;
}
.contact {
    float: none;
    width: 100%;
    border: none;
}
.contact ul li, .follow-us ul li, .copyright-1 li, .disclaimer li {
    display: inline-block !important;
    padding: 12px;
}
.ourPoduct_Introduction, .ourproduct_BG_categories, .ourProduct_categories p  {
     text-align: justify;
}
.ourProduct_ContentClass h3 {
    font-size: 25px;
	clear: both;
}
.videosbanner span {
    
    top: 160px;
    left: 20px;
    font-family: 'SansaStd-Bold';
    color: #fff;
    font-size: 21px;
}
#footer-sitemap a.fs-root-link {
	letter-spacing: 0px;
}
.contact li:last-child a, .follow-us li {
    letter-spacing: 1px;
}
.tabs {
    margin: 40px;
    width: 100%;
}
.puratos-user-login-form-wrapper {
    width: 80%;
}
.puratos-user-login-form-wrapper button#edit-submit {
    padding: 10px 0px 10px 0px;
}
#user-pass .form-item.form-item-name.form-type-textfield.form-group {
    width: 80%;
}
#user-pass button {
    width: 80%
}
.product_Bakery_Content h3 {
    font-size: 40px;
}
.ourproduct h3 {
    font-size: 35px !important;
}	
.ourproduct .product-image h4 {
    text-align: center;
    font-size: 30px;
    font-family: 'SansaStd-Bold';
}
.view-all-products-wrapper {
	margin-bottom: 20px;
}
.ourProduct_categories h3 {
    font-size: 29px !important;
}
.ourProduct_ImagesClass {
    float: none;
    margin-left: 60px;
}
.colorBg {
    margin-top: 20px;
}
.Heighlights .pagination {
    border-radius: 20px;
    margin: 10px 0 20px 16px;
}
.form-item.form-item-countries.form-type-select.form-group:after {
    top: 222px;
    right: 25px;
}
.product-subcategoreis-menu-wrapper li {
    display: table;
    padding: 0;
    margin-top: 0;
}
.product-subcategoreis-menu-wrapper {
    height: auto;
}
.product-Bakery_Head_Content h2 {
    font-size: 35px;
}
div#breadcrumb{
	width:100%;
}
.prd-subcat-desc-left-img-right-txt-wrapper img {
    margin-top: 20px;
}
.prd-subcat-desc-image.prd-subcat-desc-left-img-wrapper {
    width: 100%;
    float: none;
    margin-left: -15px;
}
.product_Bakery_Introduction span {
	color:#292929;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper h3, .prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper h3 {
    font-size: 20px !important;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper{
	margin-left:0;
}
.prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper {
    margin-top: 40px;
    margin-left: 0px;
    width: 100%;
}
.prd-subcat-desc-image.prd-subcat-desc-right-img-wrapper img {
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 15px;
}
.prd-subcat-desc-txt.prd-subcat-desc-full-txt-wrapper p {
    text-align: justify;
}
}










/*-----------------------------iPads (portrait) ----------------------------- */
@media only screen and (min-width : 768px) and (max-width : 991px) {
.navbar-default .navbar-brand {
    width: 27%;
}
.region.region-header-top {
    width: 32%;
}
.navbar-default form#search-form {
    width: 23.5%;
    float: left;
}
.top-bar select {
    padding: 10px 0px;
    letter-spacing: 1px;
}
.nav > li > a {
    padding: 10px 8px;
}
.top-bar input {
	width: 20%;
	padding: 7px;
}
.headerImage {
    background-position: center;
    background-repeat: no-repeat;
}
.product-finder-BG,.news_homepage_BG_image, .country_Heighlights_BG_image{
	background-position: center;
    background-repeat: no-repeat;
}
.country_Heighlights_BG_image {
    height: 440px;
}
.video_BG_image {
    height: 500px;
}
.videos_home {
    margin-top: 30px;
}
.home-banner-Scroll {
    margin-left: -5%;
    position: absolute;
    margin-top: 45px;
}
.Heighlights {
    padding: 0;
}
.product-image {
    width: 33%;
    float: left;
}
.views-row.views-row-1, .views-row.views-row-2, .views-row.views-row-3, .views-row.views-row-4 {
    width: 25%;
    float: left;
}
.search-button-product button {
    width: 55%;
    padding: 10px 0px 10px 0px;
}
.common-Border {
    min-height: 340px;
}
button.btn-danger.pull-right {
    width: 20%;
    padding: 10px 0px 10px 0px;
}
.country {
    width: 50%;
    float: left;
}
.country button.btn-default {
    width: 35%;
	padding: 10px 0px 10px 0px;
}
.common-News {
    min-height: 270px;
}
#footer-sitemap a.fs-root-link {
	letter-spacing: 0;
}
.bakery_Product_Content p {
    text-align: justify;
} 
.field.field-name-field-product-range-description p {
    text-align: justify;
}
.puratos-footer-menu-wrapper li.menu-478.depth-1.total-children-3.parent-children-0.single-children-3 {
    margin-left: 30px;
    width: 20%;
}
.puratos-footer-menu-wrapper li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2.active, li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2 {
    margin-left: 30px;
}
.puratos-footer-menu-wrapper li.menu-481.depth-1.total-children-3.parent-children-3.single-children-0 {
    margin-left: 30px;
	width: 15%;
}
.puratos-footer-menu-wrapper li.menu-482.depth-1.fs-no-children.last {
    margin-left: 15px;
}
/* .puratos-footer-menu-wrapper li.menu-478.depth-1.total-children-3.parent-children-0.single-children-3 {
    margin-left: 0px;
} */
.prd-subcat-desc-image.prd-subcat-desc-right-img-wrapper {
    padding: 0;
    margin-left: 5px;
}
.follow-us ul:after {
    margin-left: 6px;
}
.grid-three-column-wrapper h4 {
    font-family: 'SansaStd-Bold';
    font-size: 25px;
    color: #fff;
    margin-bottom: 25px !important;
    margin-top: 15px;
}
#block-bean-sourdough-library p {
    margin-bottom: 72px;
}
.region.region-footer-left {
    width: 45%;
}
.heighlights-right-image span {
    left: 26px;
    top: 115px;
	font-size: 15px;
}
.search-button-product {
    text-align: center;
	margin-bottom: 0; 
    margin-top:0;
}
.heighlights-images h3 a {
    color: #000000;
    font-size: 26px;
}
.news_homepage.views-row.views-row-1, .views-row.views-row-2, .views-row.views-row-3, .views-row.views-row-4 {
    width: 100%;
    float: none;
}
.views-row.views-row-1, .views-row.views-row-2, .views-row.views-row-3, .views-row.views-row-4{
	 width: 100%;
    float: none;
}
.highlights-section-home-page-wrapper button.btn-default {
    width: 34%;
    padding: 10px 0px 11px 0px;
    margin-top: 27px;
}
li.menu-477.depth-1.fs-no-children.first.active {
    width: 20%;
}
.colorBg {
    padding: 10px;
    height: 165px;
}
.colorBg h3 {
    font-size: 18px;
}
.colorBg p {
    margin-top: 0px;
    font-size: 10px;
    text-align: left;
}
.bigText p {
    text-align: justify;
    margin-left: 20px;
}
ul.pagination {
    padding: 4px 0 4px 0;
}
.Heighlights .pagination {
    border-radius: 20px;
    margin: 29px 0 0px 15px;
}
button.btn.btn-navbar.tb-megamenu-button.menuIstance-processed:after {
    content: "";
    display: none;
}
button.btn.btn-navbar.tb-megamenu-button.menuIstance-processed {
    margin-top: 15px;
}
button.btn.btn-navbar.tb-megamenu-button.menuIstance-processed {
    width: 50px;
    border-radius: 8px;
    background-color: #DBDBDB;
    float: right;
}
.videosbanner span {
    position: absolute;
    top: 120px;
}
.contact{
	width:100%;
}
.follow-us {
    float: none;
    width: 100%;
    text-align: center;
}
.follow-us li:after {
    margin-left: 20px;
}
.contact li:last-child a {
    margin-left: 0px;
}
.videos-banners {
    clear: both;
    padding-top: 50px;
}
.bakery_Custommer_advantage h4, .bakery_Consumer_advantage h4{
	margin:30px 0px 0px 0px;
	font-size:24px;
}
.ourPoduct_Introduction {
    text-align: justify;
}
.ourproduct_BG_categories {
    height: 690px;
}
.contact {
    border: none;
}
.puratos-user-login-form-wrapper button#edit-submit {
    padding: 10px 0px 10px 0px;
    width: 50%;
}
#user-pass button {
    width: 30%;
    padding: 10px 0px 10px 0px;
}
.ourproduct .product-image h4 {
    font-size: 30px;
}
.view-all-products-wrapper {
    margin-top: 35px;
}
.ourProduct_ContentClass p {
    text-align: justify;
}
.puratos-header-menu-wrapper {
    float: none;
    width: 95%;
    margin: 0 auto;
}
 
.tb-megamenu-row.row-fluid, .tb-megamenu .nav-collapse .dropdown-menu {
    background-color: #fff;
}
.tb-megamenu .nav-collapse .dropdown-menu a {
    color: #000;
}
.tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a {
    color: #000;
	font-size: 10px;
}
.tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse {
    z-index: 999;
    margin-top: 45px;
}
.puratos-header-menu-wrapper .tb-megamenu-menu-puratos-header-menu, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: transparent;
} 
.navbar-brand > img {
    display: block;
    margin-left: -18px;
}
ul.tb-megamenu-nav.nav.level-0.items-5 li a:last-child {
    border-right: none;
    border: none;
}
.tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #ccc;
}
select#edit-countries {
    font-size: 15px;
}
.form-item.form-item-countries.form-type-select.form-group:after {
    top: 225px;
    right: 110px;
}
form#get-all-discovered-countries-form:after {
    margin-left: 65px;
}
.product-Bakery_Head_Content h2 {
    font-size: 40px;
}
.prd-subcat-desc-txt.prd-subcat-desc-right-txt-wrapper h3, .prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper h3 {
    font-size: 25px !important;
}
.prd-subcat-desc-txt.prd-subcat-desc-left-txt-wrapper {
    margin-left: 25px;
}
.product-subcategoreis-menu-wrapper li {
    display: table-cell;
    padding: 0px;
    margin-top: 19px;
    text-align: center;
    line-height: 1;
}
.view-finished-application .views-row.views-row-1, .views-row.views-row-2, .views-row.views-row-3, .views-row.views-row-4 {
    width: 25%;
    float: left;
}
.view-id-finished_application .finished-applications-overview-item-wrapper h4.field-content .underline {
    margin: 15px 0 15px 55px;
}
}













/*------------------------------iPads (landscape) --------------------------- */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

.navbar-default form#search-form {
    width: 26.5%;
    float: left;
}
.navbar-default .navbar-brand {
    width: 22%;
}
.region.region-header-top {
    width: 34%;
}
.top-bar input {
   width: 25%;
   padding: 7px;
}
.common-Border {
    min-height: 299px;
}
.common-News {
    min-height: 227px;
}
.top-bar select {
    width: 17.3%;
}
.tb-megamenu .nav > li > a {
    padding: 30px 15px;
} 
.home-banner-Scroll {
    margin-top: 5px;
    margin-left: 0%;
    position: absolute;
}
.search-button-product button {
    width: 45%;
    padding: 10px 0px 10px 0px;
}
button.btn-danger.pull-right {
    width: 15%;
    padding: 10px 0px 11px 0px;
}
button.btn-default {
    width: 30%;
    padding: 10px 0px 10px 0px;
}
ul.pagination {
    padding: 5px 0 5px 0;
}
.news_homepage_BG_image {
    height: 640px;
}
.videos_home {
    margin-top: 40px;
}
.videosbanner span {
    position: absolute;
    top: 160px;
    left: 20px;
}
.puratos-footer-menu-wrapper li.menu-478.depth-1.total-children-3.parent-children-0.single-children-3 {
    margin-left: 80px;
	width: 15%;
}
.puratos-footer-menu-wrapper li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2.active, li.menu-480.depth-1.total-children-2.parent-children-0.single-children-2 {
    margin-left: 80px;
	width: 15%;
}
.puratos-footer-menu-wrapper li.menu-481.depth-1.total-children-3.parent-children-3.single-children-0 {
    margin-left: 80px;
	width: 13%;
}
.puratos-footer-menu-wrapper li.menu-482.depth-1.fs-no-children.last {
    margin-left: 35px;
}
.contact li:last-child a {
    margin-left: 0px;
	letter-spacing: 0px;
}
.follow-us a, .follow-us li:nth-child(2):after, .follow-us li:nth-child(3):after, .follow-us li:nth-child(4):after {
	margin-left:0;
}
 
.follow-us li {
    letter-spacing: 2px;
}
.follow-us {
    float: left;
    width: 31%;
    text-transform: uppercase;
    margin-left: 10px;
}
.region.region-footer-left {
    width: 55%;
}
 .product_Bakery_Content p {
    margin-top: 10px;
}
.colorBg {
    padding: 15px;
    height: 205px !important;
}
.colorBg p {
    margin-top: 20px;
}
.Heighlights .pagination {
    border-radius: 20px;
    margin: 20px 0 0px 15px;
}
.heighlights-right-image span {
    position: absolute;
    left: 17px;
	top: 140px;
}
.news_homepage .pagination {
    margin: 24px 0 0px 15px;
}
.country_Heighlights_BG_image, .headerImage, .product-finder-BG, .video_BG_image {
    background-position: center;
}
.contact {
    width: 67%;
}
.ourProduct_ContentClass h3 {
    font-size: 18pt;
}
.ourproduct_BG_categories {
    height: 540px;
 }
.field.field-name-field-product-range-description p {
    text-align: justify;
}
.ourProduct_ImagesClass {
    float: left;
    width: 50%;
}
.ourProduct_ContentClass {
    width: 50%;
    float: right;
}
.heighlights-right-image span a, .heighlights-right-image span a:hover {
    color: #fff;
    font-size: 24px;
	text-decoration:none;
}
form#get-all-discovered-countries-form:after {
    margin-left: 95px;
}
.product-Bakery_Head_Content h2 {
    font-size: 50px;
}
.product-subcategoreis-menu-wrapper li {
    display: table-cell;
    padding: 4px;
    margin-top: 21px;
    text-align: center;
    line-height: 1;
}
.prd-subcat-desc-image.prd-subcat-desc-right-img-wrapper {
    padding: 0;
    margin-left: 0px;
}
}






/*------------------------------ Mobile (Landscape) ------------------ */

@media only screen 
and (min-width : 568px) 
and (max-width : 767px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 

.region.region-footer-right ul {
    display: inline-flex;
}
.region.region-footer-right ul li {
    margin-right: 35px !important;
}
.videosbanner span {
    top: 335px;
}
.deli_Product_Range_Image {
    height: 890px;
}
.follow-us {
    margin-top: 40px;
}
button.btn-danger.pull-right {
    width: 20%;
    padding: 12px 0px 12px 0px;
}
button.btn-default {
    /* border-radius: 50px; */
    width: 25%;
    padding: 12px 0px 12px 0px;
}
.heighlights-images img {
    width: 100%;
}
.search-button-product button {
    border-radius: 50px;
    width: 30%;
}
select#edit-countries{
    border: none;
    outline: none;
}
 
.home-banner-Scroll {
    margin-left: 40%;
    margin-top: 185px;
}
.ourProduct_ImagesClass {
    float: left;
}
.ourProduct_ContentClass {
    float: right;
    width: 50%;
}
form#get-all-discovered-countries-form:after {
    margin-left: 230px;
}
.view-finished-application .views-field-field-fin-sub-apl-image img{
	width:100%;
}
}
/*------------------------------ Large Devices, Wide Screens------------------ */
@media only screen and (min-width : 1200px) {
 

}
